<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>MyFame Hotel</title>
  <link rel="stylesheet" href="/css/navbar.css" />
  <link rel="stylesheet" href="/css/modal.css" />
  <link rel="stylesheet" href="/css/register.css" />
</head>
<body>

  <header>
    <%- include('../partials/navbar') %>
  </header>

  <%- include('../partials/loginModal') %>
  <%- include('../partials/register') %> <!-- Register modal -->

  <script src="/js/navbar.js"></script>
  <script src="/js/loginModal.js"></script>
  <script src="/js/register.js"></script>
</body>
</html>
